*{
	font-family: Arial, Helvetica,Sans-serif;
	font-size: 12px;
    margin: 0px;
	padding: 0px;
	background-color: #eff5f9; 
}
.headerMenu{
	background-image:url(../img/menu.png);
	height: 56px;
	border-bottom: :0px;
	padding-left: auto;
	padding-right: auto;
	width: 100%;
}
#wrapper {
	background-image:url(../img/menu.png);
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	padding-top:0px;
	padding-bottom: 0px;
	}
.logo{
	background-image:url(../img/menu.png);
	width:125px;
}
.logo img{
	background-image:url(../img/menu.png);
	width:150px;
	height:38px;
	padding-top: 5px;
}
.search_box{
	background-image: url(../img/menu.png);
	position: absolute;
	top: 13px;
	margin-left: 135px;

}
#search input[type="text"]{
	background: url(../img/dark.png) no-repeat 10px 6px #267bb6;
	outline: none;
	border:0 none;
	font: bold 12px Arial,Helvetica,Sans-serif;
	width: 350px;
	margin: 0px;
	padding: 6px 15px 6px 35px;
	text-shadow:0 2px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.1),0 1px 3px rgba(0,0,0,0.2) inset;
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.1),0 1px 3px rgba(0,0,0,0.2) inset;
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.1),0 1px 3px rgba(0,0,0,0.2) inset;
	-webkit-transition:all 0.7s ease 0s;
	-moz-transistion:all 0.7s ease 0s;
	-o-transistion:all 0.7s ease 0s;
}
#search input[type="text"]:focus{
	background:url(../img/dark.png) no-repeat 10px 6px #fcfcfc;
	color: #6a6f75;
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.1),0 1px 0 rgba(0,0,0,0.9) inset;
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.1),0 1px 0 rgba(0,0,0,0.9) inset;
	width:350 px;
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.1),0 1px 0 rgba(0,0,0,0.9) inset;
     text-shadow:0 2px 3px rgba(0,0,0,0.1);
     }

@media screen and (max-width: 1280px){ 
#menu {
	
	background-image: url(../img/menu.png);
	position: absolute;
	top: 0px;
	right: 0px;
	height: 37px;
	padding-top: 19px;
	margin-right: 4%;
	}
}

@media screen and (min-width: 1280px){ 
#menu {
	
	background-image: url(../img/menu.png);
	position: absolute;
	top: 0px;
	right: 0px;
	height: 37px;
	padding-top: 18px;
	margin-right: 6%;
	}
}
#menu a{
	color: white;
	text-decoration: none;
	font-size: 14px;
	background-image: url(../img/menu.png);
	background-repeat: no-repeat;
	padding-top: 18px;
	padding-bottom: 21px;
	padding-left: 10px;
	padding-right: 10px;

}
#menu a:hover{
	background-image: url(../img/menu.png);
	}
h2{
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 18px;
	padding: 8px;
}

input[type="text"]{
	background-color: white;
	border: 1px solid #E2E2E2;
	font-size: 15px;
	width:300px;
	padding: 5px;
	margin-bottom: 3px;
	margin-top: 3px;
	outline: none;
}

input[type="text"]:hover{
	border: 1px solid #006FC4;
}
input[type="submit"]{
	background-color: #006FC4;
	border: 1px solid #00508D;
	font-size: 15px;
	color: white;
	padding: 5px;
	margin-bottom: 3px;
	margin-top: 3px;
	border-radius: 7px;
}